body {
    background-color: lightblue;
  }

  #para1 {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
  }  